# Python
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# =========================
# DATA
# =========================

# Ignore ALL raw data
data/raw/*
!data/raw/.gitkeep

# Ignore heavy processed files
data/processed/*.parquet

# Keep small results (csv)
!data/processed/*.csv
!data/processed/.gitkeep
